html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body{
  background: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto sans-serif;
  line-height: 1.5;
  color: #373737;
}
.container{
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}
nav ul{
  display: flex;
  justify-content: space-around;
  padding: 34px 0;
}
nav ul li{
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  padding:0 10px;
}
nav ul li a{
  text-decoration: none;
  color: #54b9a6;
}
.header-background-image{
  background: url("../img/header-background.png") no-repeat 0 0;
  width: 100%;
  height: 793px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.main{
  padding: 56px 0 94px 0;
  background: #f5f6f7;
}
.news-title{
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 34px;
}
.news-text{
  font-weight: 600;
  text-align: center;
  padding-bottom: 37px;
}
.get-started{
  max-width: 192px;
  margin: 0 auto;
  background: #16a085;
  padding: 23px 44px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
}
.footer{
  padding: 47px 47px 47px 0;
}
.copiright{
  text-align: right;
  font-weight: 600;
}
